/* Header */
header {
  display: grid;
  grid-template-columns: 0.7fr 0.5fr 4fr 0.5fr 0.7fr; /* Five columns: search, spacer, logo, spacer, login */
  grid-template-rows: 1fr 1.5fr 1.5fr;
  grid-template-areas:
    ". search . login ."
    ". date logo logo ."
    ". . menu menu .";
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  overflow: auto;
  text-align: left;
  position: relative;
  overflow-x: hidden;

.search{
  grid-area: search;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.login {
  grid-area: login;
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.login svg:hover {
  cursor: pointer;
}

.date{
  grid-area: date;
  display: grid;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}

@media (max-width: 1024px) {
  .date {
    display: none;
  }
}


.logo {
  grid-area: logo;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  text-decoration: none; 
}

.menu {
  grid-area: menu;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

.menu ul {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 12px;  
  list-style: none; 
  padding: 0;
  margin: 0;
}

.menu li {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1rem;
    padding: 1.2rem 7px;
}

 .menu li:hover {
  text-decoration: underline; 
 } 
}


/* Nav style */
.nav {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 2em;
}


/* StyledComponents for the logo */

/* Responsive */

@media (max-width: 1024px) {
  header {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "hamburger logo login"
      "menu menu menu";
  }

  .hamburger-menu {
    display: block;
    grid-area: hamburger;
    cursor: pointer;
    padding: 1rem;
  }

  .menu {
    flex-direction: column;
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    z-index: 1000;
    justify-content: center;
    padding-top: 1rem;
    visibility: hidden;
    opacity: 0;
    pointer-events: none; 
    transition: transform 0.3s ease-in-out, visibility 0.3s ease;
    transform: translateY(-10%); 
  }

  .menu.active {
    display: flex; 
    position: sticky;
    opacity: 1;
    visibility: visible;
    pointer-events: auto; 
    transform: translateY(0);
  }

  .menu ul {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .menu li a {
    color: white;
    font-size: 1.5rem;
  }

  .menu li a:hover {
    text-decoration: underline;
  }

  .search-wrapper {
    display: none;
    width: 100%;
    padding: 1rem;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1001; 
  }

  .menu.active .search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-input {
    width: 100%;
    max-width: 500px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
  }
}


  
@media (max-width: 550px) {
  header {
    grid-template-columns: 1fr 2fr 1fr;
    padding: 0.5rem;
  }

  .menu li a {
    font-size: 1.2rem; 
  }

  .menu ul {
    gap: 1rem; 
  }

  .hamburger-menu {
    padding: 0.5rem;
  }

  .search-icon, .login svg {
    width: 24px;
    height: 24px;
  }
}


/* login/logout Popup */
/* Popup Overlay (trasparent) */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup (modal) */
.login-popup {
  background-color: #fff;
  padding: 30px;
  width: 90%;
  max-height: 80%;
  overflow-y: auto; /* Add a scroll if content overflows */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  position: relative;
  gap: 20px;
}

/* X close */ 
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 28px;
  color: black;
  cursor: pointer;
  transition: color 0.3s;
}

/* Popup content */
.popup-content {
  display: grid;
  gap: 15px;
}

.popup-content h2, h3 {
  color: black; 
  font-size: 24px;
  margin-bottom: 15px;
  text-align: flex-left; 
}

.popup-content input,
.popup-content button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.popup-content input {
  width: 100%;
}

.popup-content button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup-content button:hover {
  background-color: #0056b3;
}

.popup-content button.close {
  background-color: #f44336;
  color: white;
  width: 100%;
  padding: 12px;
}

.popup-content button.close:hover {
  background-color: #d32f2f;
}


/* General rules */

h2 {
  text-align: center;
  margin-bottom: 30px; 
}

.news-layout {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 3fr 0.5fr 1fr; 
  grid-template-areas:
    "top-stories . related-content"
    "top-stories . .";
  margin: 0 auto; 
  padding: 2rem; 
}

@media (max-width: 1024px) {
  .news-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding: 0rem;
  }

  .article-list {
    width: 85%; 
    max-width: 100vhvh;
    text-align: center;
    margin-top: 1rem; 
  }
}

/* Main articles */ 
/* Article list */ 
.article-list {
  grid-area: top-stories; 
  display: grid; 
  list-style: none;  
  padding: 0;  
  margin: 0;  
  justify-content: center;
  align-items: center; 
}

ul {
  padding: 0;
  list-style: none;
  padding-left: 0; 
  margin-block-start: 0;
  width: 100%;
}

/* Single article */
.article-item {
  display: inline-grid;
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  width: 100%; 
  max-width: -webkit-fill-available; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
  padding: 2.5rem;
  transition: transform 0.3s ease;  
  margin-bottom: 2rem;  
}

@media (max-width: 1024px) {
  .article-item {
    padding: 0rem;
  }
}

/* Hover */
.article-item:hover {
  transform: translateY(-5px);  
}

/* Articles link */
.article-link {
  text-decoration: none;
  color: inherit;  
  display: block;  
  text-align: center;  
}

/* Articles images */
.article-image {
  width: 100%;
  height: auto;
  object-fit: fill;
  min-height: 200px;
  max-height: 600px; 
  min-width: 300px; 
  border-radius: 8px; 
  margin-bottom: 1rem;
}

.article-item h3 {
  font-size: 1.25rem;
  color: black;
  margin: 0;
  font-weight: bold;
}

/* Article description */
.article-item p {
  color: #666;
  font-size: 0.9rem;
  line-height: 1.5;
  margin-top: 0.5rem;
}

/* Related menu */
.menu-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: black;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
  z-index: 1000;
}

/* Positioning */
.related-content {
  grid-area: related-content;
  background-color: grey;
  color: white;
  max-width: 100%;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  height: fit-content;
}

@media (max-width: 1024px) {
  .related-content {
    display: none;
  }
}


.related-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.menu-list {
  display: block;
  list-style: none;
  padding: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.dropdown-content {
  overflow: hidden;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 0.5rem;
}

.menu-item.active + .dropdown-content {
  display: block;
  max-height: 500px; 
}

.dropdown-menu {
  list-style: none;
  padding-left: 1rem;
} 

.dropdown-item {
  padding: 0.25rem 0;
}


.no-bullet {
  list-style: none;
}

.menu-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

 .menu-list ul {
  padding: 0;
}

 .menu-list li {
  width: 100%;
  max-width: 100%;
  margin: 1rem 0;
  cursor: pointer;
  font-size: 1.1rem;
  align-items: center;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
  max-height: auto;
  box-sizing: border-box;
} 

.menu-list li:not(.no-bullet)::before {
  content: "•"; 
  color: white;
  font-size: 1.2rem;
  margin-right: 10px;
}

.menu-list a:hover {
  color: black;
}

.menu-list li svg {
  grid-area: login;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-right: 10px;
  font-size: 2rem;
}

.menu-list li:last-child {
  margin-bottom: 0;
}

.related-data {
  margin-top: 1rem;
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 8px;
  max-height: 400px;
  width: 100%;
}


// Fullscreen menu
.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.95);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.fullscreen-menu.active {
  opacity: 1;
  visibility: visible;
}

/* Menu items */
.fullscreen-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fullscreen-menu li {
  margin: 15px 0;
}

.fullscreen-menu a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.fullscreen-menu a:hover {
  text-decoration: underline;
}

/* ArticleDetail */

.article-detail-layout {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "article-detail related-content";
  margin-left: 1rem;
  margin-right: 1rem;
  gap: 2rem;
  max-width: fit-content;
  margin: 0 auto;
  padding: 2rem; 
}

@media (max-width: 1024px) {
  .article-detail-layout {
    grid-template-columns: 1fr;
    grid-template-areas: "article-detail";
  }
}

.article-detail {
  display: grid;
  grid-area: article-detail;
  grid-template-columns: 1fr minmax(auto, 800px) 1fr;
  grid-template-rows: auto auto auto auto auto auto; 
  grid-template-areas:
    "title title title"
    "pub-date author author"
    "image image image"
    "lead lead lead"
    ". . ."
    "link . .";
  gap: 1.5rem;
  padding: 2rem;
  background-color: #ffffff;
  color: black;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 80vh;
  overflow-y: auto;
  justify-content: center;
}

@media (max-width: 550px) {
  .article-detail {
    grid-template-areas: "article-detail";
    grid-template-columns: 1fr minmax(auto, 800px) 1fr;
    grid-template-rows: auto auto auto auto auto auto; 
    grid-template-areas:
      "title title title"
      "pub-date . ."
      "image image image"
      "lead lead lead"
      ". . ."
      "link . .";
  }
}

/* Title */
.article-title {
  grid-area: title;
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 550px) {
  .article-title {
    font-size: 2rem;
  }
}

/* Author and Date */
.article-pub-date {
  grid-area: pub-date;
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  color: #555;
  font-size: 1.2rem;
  font-style: italic;

}

.article-author {
  grid-area: author;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  font-size: 1.2rem;
}

@media (max-width: 550px) {
  .article-author {
    display: none;
  }
}


/* Image */
.article-detail-image {
  grid-area: image;
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 8px;
  margin: 0 auto;
}

/* Lead Paragraph */
.lead-paragraph {
  grid-area: lead;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 550px) {
  .lead-paragraph {
    font-size: 1.2rem;
  }
}


/* Link to the article */
.article-link {
  grid-area: link;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

/* Button */
.read-full-article {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  max-width: 100%; /* Larghezza massima del pulsante */
}

/* Hover property */
.read-full-article:hover {
  background-color: #0056b3;
}

