/* Regole generali */
.news-layout {
  display: grid;
  grid-template-rows: auto; /* Header in alto, contenuto sotto */
  grid-template-columns: 3fr 1fr; /* Top Stories (3/4) | Contenuti Correlati (1/4) */
  grid-template-areas:
    "top-stories related-content"
    "top-stories .";
  /* height: 1000px; /*
  max-width: 1200px; /* Larghezza massima del layout */
  margin: 0 auto; /* Centra il layout */
  padding: 2rem; /* Aggiunge spazio intorno al layout */
}

header {
  grid-area: header;
  padding: 2rem;
  width: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
}


/* Stili per il nav*/
nav {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 2em;
}

/* Stili per il logo in StyledComponents */

h2 {
  text-align: flex-center;
  margin-bottom: 30px; /* Spazio tra il titolo e la lista */
}

/* Stile per gli articoli principali */
/* Stile per la lista degli articoli */
.article-list {
  grid-area: top-stories; /* Assegna l'area della griglia */
  display: grid;  /* Utilizza un layout flessibile */
  list-style: none;  /* Rimuove i punti dalla lista */
  padding: 0;  /* Rimuove il padding predefinito */
  margin: 0;  /* Rimuove il margine predefinito */
  justify-content: center; /* Centra gli articoli */
  align-items: center;  /* Allinea gli articoli al centro */
}

ul {
  padding: 0;
  list-style: none;
  padding-left: 0; 
  margin-block-start: 0;
}

/* Stile per ogni articolo */
.article-item {
  background-color: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  width: 100%; /* Imposta la larghezza a 100% in dispositivi piccoli */
  max-width: 600px; /* Imposta una larghezza massima per ogni articolo */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  /* Aggiunge ombra per dare profondità */
  padding: 2.5rem;
  transition: transform 0.3s ease;  /* Aggiunge una transizione per l'effetto hover */
  margin-bottom: 2rem;  /* Aggiunge spazio tra gli articoli */
}

/* Hover sugli articoli */
.article-item:hover {
  transform: translateY(-5px);  /* Sposta l'articolo verso l'alto al passaggio del mouse */
}

/* Link agli articoli */
.article-link {
  text-decoration: none;
  color: inherit;  /* Mantiene il colore ereditato dal testo */
  display: block;  /* Rende l'intero articolo cliccabile */
  text-align: center;  /* Allinea il testo al centro */
}

/* Immagini degli articoli */
.article-image {
  width: 100%;
  height: auto;
  object-fit: cover;  /* Impedisce la distorsione dell'immagine */
  border-radius: 8px;  /* Angoli arrotondati per le immagini */
  margin-bottom: 1rem;  /* Aggiunge uno spazio sotto l'immagine */
}

/* Testo del titolo dell'articolo */
.article-item h3 {
  font-size: 1.25rem;
  color: #333;
  margin: 0;
  font-weight: bold;
}

/* Descrizione dell'articolo */
.article-item p {
  color: #666;
  font-size: 0.9rem;
  line-height: 1.5;
  margin-top: 0.5rem;
}

/* Stili per related menu */
.menu-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: black;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1rem;
  z-index: 1000;
}

/* Posizione del contenitore related-content */
.related-content {
  grid-area: related-content;
  background-color: grey;
  padding: 1rem;
  color: white;
  max-width: 100%;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  height: fit-content;
}


.related-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.menu-list {
  display: block;
  list-style: none;
  padding: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.dropdown-content {
  overflow: hidden;
  width: 100%; /* Occupa tutta la larghezza del contenitore */
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 0.5rem;
}

.menu-item.active + .dropdown-content {
  display: block;
  max-height: 500px; /* Imposta un'altezza massima per il dropdown */
}

.dropdown-menu {
  list-style: none;
  padding-left: 1rem;
} 

.dropdown-item {
  padding: 0.25rem 0;
}


.no-bullet {
  list-style: none;
}

.menu-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

 .menu-list ul {
  padding: 0;
}

 .menu-list li {
  width: 100%;
  max-width: 100%;
  margin: 1rem 0;
  cursor: pointer;
  font-size: 1.1rem;
  align-items: center;
  padding: 0.5rem;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
  max-height: auto;
  box-sizing: border-box;
} 

.menu-list li:not(.no-bullet)::before {
  content: "•"; 
  color: white;
  font-size: 1.2rem;
  margin-right: 10px;
}

.menu-list a:hover {
  color: black;
}

.menu-list li svg {
  margin-right: 10px;
  font-size: 2rem;
}

.menu-list li:last-child {
  margin-bottom: 0;
}

.related-data {
  margin-top: 1rem;
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 8px;
  max-height: 400px;
  width: 100%;
}


/* ArticleDetail */

.article-detail-layout {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "article-detail related-content";
  margin-left: 1rem;
  margin-right: 1rem;
  gap: 2rem;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  
}

.article-detail {
  display: grid;
  grid-area: article-detail;
  grid-template-columns: 1fr minmax(auto, 800px) 1fr; /* Due colonne laterali per centratura */
  grid-template-rows: auto auto auto auto 1fr auto; /* Flessibile */
  grid-template-areas:
    "title title title"
    "pub-date author author"
    "image image image"
    "lead lead lead"
    ". . ."
    "link . .";
  gap: 1.5rem;
  padding: 2rem;
  background-color: #ffffff;
  color: black;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  min-height: 80vh;
  overflow-y: auto;
  justify-content: center;
}

/* Titolo */
.article-title {
  grid-area: title;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

/* Autore e Data */
.article-pub-date {
  grid-area: pub-date;
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  color: #555;
  font-size: 1rem;
  font-style: italic;

}

.article-author {
  grid-area: author;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

/* Immagine */
.article-detail-image {
  grid-area: image;
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 8px;
  margin: 0 auto;
}

/* Lead Paragraph */
.lead-paragraph {
  grid-area: lead;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

/* Link per leggere l'articolo completo */
.article-link {
  grid-area: link;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

/* Pulsante per leggere l'articolo completo */
.read-full-article {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  max-width: 100%; /* Larghezza massima del pulsante */
}

/* Hover per il link */
.read-full-article:hover {
  background-color: #0056b3;
}