.headerBackground {
    border-bottom: 1px solid #ddd;
    padding: 3rem;
  }

.customTitle {
    font-size: 2em;
    color: white;
    font-weight: bold;
    font-family: Cheltenham Bold, serif;
    text-align: center; 
  }
  
.almost {
    font-size: 1em;
    color: white;
    font-style: italic;
    font-family: "Arial", sans-serif;
    transform: rotate(-5deg);
    display: inline-block;
    text-align: center;
  }